GROQ_API_KEY="YOUR_GROQ_API_KEY"
BIBLE_API_BASE=https://bible-api.com
POLLINATIONS_BASE=https://image.pollinations.ai/prompt

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="YOUR_LANGSMITH_API_KEY"
LANGSMITH_PROJECT="YOUR_PROJECT_NAME"

